body {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #185a9d,
    #43cea2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #185a9d,
    #43cea2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#list :last-child > .time {
  /* background: orangered; */
  border-bottom: 1px dashed lightgray;
}

.time {
  border-top: 1px dashed lightgray;
  background: orange;
}

.save {
  background: blue;
}
/* #top {
  background: orange;
} */

/* .container {
  background: rgba(0, 0, 0, 0.6);
} */

.change {
  color: lightgray;
}

.main-background {
  padding: 25px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
